/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 12px;
    width: 100%;
    height: 64px;
    left: 280px;
    border: 0 0 1px 0;
    border-bottom: 1px;
    padding-left: 310px;
  }
  
  .left h2 {
    margin: 0;
    color: black;
  }
  
  .right {
    display: flex;
    align-items: center;
  }
  
  .search-box input {
    padding: 8px;
    border: none;
    margin-right: 10px;
    background-color: #D1D1DB;
  }
  
  .icons img {
    width: 30px;
    margin-right: 10px;
  }
  